<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vocabularyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocabularyProject">
        <activity
            android:name=".TestView.test_pager.test_pager1"
            android:exported="true" />

        <receiver android:name=".lock_screen_receiver" />

        <service android:name=".lock_screen_service" />

        <activity android:name=".lock_screen" />
        <activity
            android:name=".FavorityWord"
            android:exported="true" />
        <activity
            android:name=".TestView.SelectLanguage"
            android:exported="true" />
        <activity
            android:name=".SelectLanguage"
            android:exported="true" />
        <activity
            android:name=".TestView.TestWordChapter"
            android:exported="true" />
        <activity
            android:name=".settingView"
            android:exported="true" />
        <activity
            android:name=".privateWordStudyView"
            android:exported="true" />
        <activity
            android:name=".privateWordAdd"
            android:exported="true" />
        <activity
            android:name=".SelectChapter"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap01"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".wordpager.wordpager_chap02"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".wordpager.wordpager_chap03"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap04"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap05"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap06"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap07"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap08"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap09"
            android:exported="true" />
        <activity
            android:name=".wordpager.wordpager_chap10"
            android:exported="true" />
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager01"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager02"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager03"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager04"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager05"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager06"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager07"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager08"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager09"
            android:exported="true"/>
        <activity
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:name=".lock_screen_pager.lock_screen_pager10"
            android:exported="true"/>


        <activity
            android:name=".StartView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>