<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vocabularyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocabularyProject">

        <receiver android:name=".lock_screen_receiver"></receiver>
        <service android:name=".lock_screen_service"></service>
        <activity android:name=".lock_screen"/>
        <activity
            android:name=".FavorityWord"
            android:exported="true" />
        <activity
            android:name=".TestVIew"
            android:exported="true" />
        <activity
            android:name=".SelectLanguage"
            android:exported="true" />
        <activity
            android:name=".TestWordChapter"
            android:exported="true" />
        <activity
            android:name=".settingView"
            android:exported="true" />
        <activity
            android:name=".privateWordStudyView"
            android:exported="true" />
        <activity
            android:name=".privateWordAdd"
            android:exported="true" />
        <activity
            android:name=".SelectChapter"
            android:exported="true" />
        <activity
            android:launchMode="singleTop"
            android:name=".word_fragment.wordpager_chap01"
            android:exported="true"/>
        <activity
            android:launchMode="singleTop"
            android:name=".wordpager.wordpager_chap02"
            android:exported="true"/>
        <activity
            android:name=".StartView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>